@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #1B8C8C, #2ABFBF, #C9F2F2);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, rgba(6, 44, 44, .6);
}

h1 {
    color: #1B818C;
    text-align: center;
    text-shadow: 1px 1px 2px #1b818c7a;
}

h2 {
    color: #0C5959;
}

p {
    text-align: justify;
}

